{% extends 'layout.twig' %}

{% block body %}
<div class="container-fluid simple-page">
  <div class="row products_row">
    <div class="col-xs-12">
      {% include '_titles.twig' with {title: page.title, uppercase: settings.heading_uppercase_titles} only %}
    </div>
  </div>
  <div class="row content">
  <div class="col-xs-12">
    {{ page.content }}
  </div>
  </div> <!-- .content -->
</div> <!-- .container-fluid -->
{% endblock %}
